@import 'config';

body {
  background: url(../images/bg-mobile.svg);
  background-color: $color-primary-violet;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;


  @media (min-width: 768px){
    background: url(../images/bg-desktop.svg);
    background-color: $color-primary-violet;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
  }
}

.container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.content {
    margin: 4rem 1rem;

    @media (min-width: 768px){
      margin: 4rem;
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 2rem;
      // grid-template-columns: 1fr 1fr;
    }

  &__illustration {
    align-self: center;
    flex: 1;

    img {
        width: 100%;
        max-width: 500px;
    }
  }

  &__text {
    padding: 3rem;
    text-align: center;
    letter-spacing: 0.9px;
    max-width: 700px;
    flex: 1.2;


    h1 {
      font-family: $font-poppins;
      color: $color-white;

      @media (min-width: 768px){
        font-size: 2rem;
      }
    }

    p {
      font-family: $font-poppins;
      color: $color-white;

      @media (min-width: 768px){
        // font-size: 1.5rem;
      }
    }

    button {
      font-family: $font-poppins;
      margin: 1rem 0;
      padding: 0.5rem 4rem;
      border-radius: 2rem;
      border: none; 
      color: $color-primary-violet;
      transition: background-color 0.2s;
      box-shadow: 1px 2px 3px $color-black;

      @media (min-width: 768px){
        // padding: 1rem 6rem;
        // font-size: 1.5rem;
      }

      &:hover {
        color: $color-white;
        background-color: $color-primary-soft-magenta;
      }
    }
  }
}

.social {
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  @media (min-width: 768px){
    justify-content: flex-end;
    margin-right: 5rem;
  }
      
  a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid $color-white;
    border-radius: 2rem;
    color: $color-white;
    width: 20px;

    &:hover {
      border-color: $color-primary-soft-magenta;
      color: $color-primary-soft-magenta;

    }
  }
}
